body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
address{
    font-style: normal;
}
a {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}
.link_one{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;

}

.link_one:hover{
color: #404bbf;
}
.link_one:focus{
    color: #404bbf;
}
header{
font-family: "Raleway", sans-serif;
}
.main {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo_studio {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
span {
    font-size: 18px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.footer-studio {
    color: #F4F4FD;
}
.footer-side {
    background-color: #2e2f42;
    color: white;
}
button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #404BBF;

}

button:focus {
    background-color: #404BBF;
}
.hero {
    background-color: #2E2F42;
}
h1 {
    color: white;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}
img {
    width: 360px;
}
p {
    line-height: 1.5;
    letter-spacing: 0.02em;

}