
.main {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    /*color: inherit;*/
    font-size: inherit;
    font-family: Raleway;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.order-btn{
    
    font-size: inherit;
    font-family: Raleway;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    background-color: #4d5ae5;
}
.order-btn:hover{
    background-color: #404bbf;
    color: white;
}
a:focus{
    color: #404bbf
}

.hero {
    background-color: #2E2F42;
}

h1 {
    color: white;
    text-align: center;
}

.logo-web {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


span {
    font-size: 18px;
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-side {
    background-color: #2e2f42;
    color: white;
}
.footer-studio{
    color: #2e2f42;
}
.section-h1{
    font-size: 56px;
    line-height: 1.07
}
.link-index{
    font-weight: 500;
}
.link-index:hover{
    color: #404bbf
}
.link-index:focus {
    color: #404bbf
}
.adress-tag{
    font-style: normal;
}
.footer_class{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.section_h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
img{
    width: 360px;
}