body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
}
.main {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
button:hover{
    background-color: #404BBF;

}
button:focus{
    background-color: #404BBF;
}
a {
    /*color: inherit;*/
    font-size: inherit;
    font-family: Raleway;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.order-btn{
    
    font-size: inherit;
    font-family: Raleway;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    background-color: #4d5ae5;
}
.order-btn:hover{
    background-color: #404bbf;
    color: white;
}
a:focus{
    color: #404bbf
}

.hero {
    background-color: #2E2F42;
}

h1 {
    color: white;
    text-align: center;
    letter-spacing: 0.02em;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42

}

._logo {
    color: #4d5ae5;
    font-size: 18px;
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


span {
    font-size: 18px;
    font-weight: bold;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-side {
    background-color: #2e2f42;
    color: white;
}
.footer-studio{
    color: #F4F4FD;
}
._section{
    font-size: 56px;
    line-height: 1.07
}
._link{
    font-weight: 500;
}
.link-index:hover{
    color: #404bbf
}
.link-index:focus {
    color: #404bbf
}
.adress-tag{
    font-style: normal;
}
.footer_class{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.section4-baslik{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
img{
    width: 360;
}
p {
    line-height: 1.5;
    letter-spacing: 0.02em;

}